.label-accordion {
  display: block;
  cursor: pointer;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top:1px solid #fff;
}
.expand {
  display: none;
}
.content-accordion {
  max-height: 0;
  transition: max-height 0.5s linear;
  overflow: hidden;
}
input[type="radio"]:checked ~ .content-accordion {
  max-height: 400px;
  padding-top:20px;
}